body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:1056px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1502px;
  height:1056px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:520px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:62px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:102px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:299px;
  height:52px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:295px;
  word-wrap:break-word;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:942px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:164px;
  width:1400px;
  height:942px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:462px;
  width:1396px;
  word-wrap:break-word;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:62px;
  background:inherit;
  background-color:rgba(39, 41, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:102px;
  width:1401px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:121px;
  width:36px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:121px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:121px;
  width:107px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:121px;
  width:36px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:102px;
  width:102px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:122px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:132px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:143px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:180px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:185px;
  width:294px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:244px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:250px;
  width:44px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:244px;
  width:269px;
  height:30px;
}
#u1079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1079_input {
  font-family:'微软雅黑';
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:338px;
  width:1352px;
  height:117px;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:34px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:158px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:0px;
  width:225px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:0px;
  width:224px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:220px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:0px;
  width:225px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:34px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:0px;
  width:325px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:321px;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:190px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:186px;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:34px;
  width:158px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:34px;
  width:225px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:39px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:34px;
  width:224px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:34px;
  width:225px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:39px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:34px;
  width:325px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:321px;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:190px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:186px;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:73px;
  width:158px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:73px;
  width:225px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:39px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:73px;
  width:224px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:73px;
  width:225px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:39px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:73px;
  width:325px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:321px;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:297px;
  width:1349px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1345px;
  word-wrap:break-word;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:303px;
  width:104px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
