body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u106 {
  position:absolute;
  left:53px;
  top:204px;
  width:66px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u108 {
  position:absolute;
  left:53px;
  top:50px;
  width:66px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u110 {
  position:absolute;
  left:53px;
  top:125px;
  width:66px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u112 {
  position:absolute;
  left:50px;
  top:240px;
  width:797px;
  height:200px;
  font-size:12px;
  line-height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u114 {
  position:absolute;
  left:53px;
  top:80px;
  width:690px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u116 {
  position:absolute;
  left:53px;
  top:156px;
  width:715px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u118 {
  position:absolute;
  left:53px;
  top:930px;
  width:66px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u119 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u120 {
  position:absolute;
  left:53px;
  top:963px;
  width:801px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u122 {
  position:absolute;
  left:53px;
  top:450px;
  width:66px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u124 {
  position:absolute;
  left:53px;
  top:483px;
  width:801px;
  height:440px;
  font-size:12px;
  line-height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  word-wrap:break-word;
}
