body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:160px;
  width:1008px;
  height:40px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:75px;
  width:118px;
  height:23px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:130px;
  width:118px;
  height:23px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:105px;
  width:591px;
  height:20px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:209px;
  width:118px;
  height:23px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:233px;
  width:307px;
  height:103px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:336px;
  width:1042px;
  height:99px;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:125px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:29px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:227px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:223px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:0px;
  width:118px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:29px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:0px;
  width:161px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:0px;
  width:262px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:144px;
  height:24px;
  font-size:12px;
  text-align:center;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:29px;
  width:125px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:24px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:29px;
  width:227px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:29px;
  width:118px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:29px;
  width:161px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:24px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:29px;
  width:262px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:53px;
  width:125px;
  height:21px;
  font-size:12px;
  text-align:center;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:21px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:53px;
  width:227px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:53px;
  width:118px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:53px;
  width:161px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:21px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:53px;
  width:262px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:144px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:74px;
  width:125px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:74px;
  width:227px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:74px;
  width:118px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:74px;
  width:161px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:74px;
  width:262px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:430px;
  width:87px;
  height:18px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:600px;
  width:1042px;
  height:97px;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:29px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:393px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:29px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:0px;
  width:488px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:484px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:156px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:21px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:29px;
  width:393px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:21px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:29px;
  width:488px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:156px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:21px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:50px;
  width:393px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:21px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:50px;
  width:488px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:156px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:21px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:71px;
  width:393px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:21px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:71px;
  width:488px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:690px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:500px;
  width:417px;
  height:101px;
  font-size:12px;
  color:#1E1E1E;
  line-height:20px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:451px;
  width:1042px;
  height:54px;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:29px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:0px;
  width:137px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:29px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:297px;
  height:29px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:293px;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:29px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:0px;
  width:444px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:440px;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:159px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:29px;
  width:137px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:20px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:29px;
  width:297px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:20px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:29px;
  width:444px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:5px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:1439px;
  height:2px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:710px;
  width:1054px;
  height:427px;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:170px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:29px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:301px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:297px;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:29px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:434px;
  height:29px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:430px;
  word-wrap:break-word;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:29px;
  width:170px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:29px;
  width:301px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:29px;
  width:434px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:50px;
  width:170px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:50px;
  width:301px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:50px;
  width:434px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:144px;
  height:38px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:71px;
  width:170px;
  height:38px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:71px;
  width:301px;
  height:38px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:38px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:71px;
  width:434px;
  height:38px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:109px;
  width:170px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:109px;
  width:301px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:109px;
  width:434px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:130px;
  width:170px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:130px;
  width:301px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:130px;
  width:434px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:89px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:144px;
  height:89px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:140px;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:89px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:151px;
  width:170px;
  height:89px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:89px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:151px;
  width:301px;
  height:89px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:297px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:89px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:151px;
  width:434px;
  height:89px;
  font-family:'PingFang SC';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:430px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:144px;
  height:106px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:140px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:106px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:240px;
  width:170px;
  height:106px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:166px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:106px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:240px;
  width:301px;
  height:106px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:297px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:106px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:240px;
  width:434px;
  height:106px;
  font-family:'PingFang SC';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:430px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:346px;
  width:144px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:346px;
  width:170px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:346px;
  width:301px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:346px;
  width:434px;
  height:21px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:430px;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:144px;
  height:55px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:367px;
  width:170px;
  height:55px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:55px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:367px;
  width:301px;
  height:55px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:297px;
  word-wrap:break-word;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:55px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:367px;
  width:434px;
  height:55px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:430px;
  word-wrap:break-word;
}
