body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:380px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:62px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:102px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u3144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:52px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:295px;
  word-wrap:break-word;
}
#u3146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:266px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:114px;
  width:1400px;
  height:266px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:125px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:62px;
  background:inherit;
  background-color:rgba(39, 41, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:52px;
  width:1401px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:71px;
  width:36px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u3153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:71px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:71px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3157 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:71px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:102px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3161_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u3161 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:72px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3163_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u3163 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:82px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3165_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:35px;
  height:5px;
}
#u3165 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:93px;
  width:32px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3167 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:130px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u3169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3169 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:125px;
  width:1376px;
  height:208px;
}
#u3170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:1372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3171 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:222px;
  width:73px;
  height:18px;
}
#u3172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3171_ann {
  border-width:0px;
  position:absolute;
  left:215px;
  top:218px;
  width:1px;
  height:1px;
}
#u3173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3173 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:153px;
  width:127px;
  height:22px;
}
#u3174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u3173_ann {
  border-width:0px;
  position:absolute;
  left:269px;
  top:149px;
  width:1px;
  height:1px;
}
#u3175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:2px;
}
#u3175 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:185px;
  width:1315px;
  height:1px;
}
#u3176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3177 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:343px;
  width:110px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u3179 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:224px;
  width:144px;
  height:16px;
}
#u3180 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u3179_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3181 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:250px;
  width:144px;
  height:16px;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u3181_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:276px;
  width:144px;
  height:16px;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u3183_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
